{{ if .Site.Params.copyright }}
	{{ if eq .Site.Params.copyright "BY" }}
	<p align="center"><a class="license" href="https://creativecommons.org/licenses/by/4.0/" target="_blank"><img alt="Attribution" src="https://licensebuttons.net/l/by/3.0/88x31.png"></img></a></p>
	{{ end }}
	{{ if eq .Site.Params.copyright "BY-SA" }}
	<p align="center"><a class="license" href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank"><img alt="Attribution Share-Alike" src="https://licensebuttons.net/l/by-sa/3.0/88x31.png"></img></a></p>
	{{ end }}
	{{ if eq .Site.Params.copyright "BY-ND" }}
	<p align="center"><a class="license" href="https://creativecommons.org/licenses/by-nd/4.0/" target="_blank"><img alt="Attribution No-Derivs" src="https://licensebuttons.net/l/by-nd/3.0/88x31.png"></img></a></p>
	{{ end }}
	{{ if eq .Site.Params.copyright "BY-NC" }}
	<p align="center"><a class="license" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img alt="Attribution Non-Commercial" src="https://licensebuttons.net/l/by-nc/3.0/88x31.png"></img></a></p>
	{{ end }}
	{{ if eq .Site.Params.copyright "BY-NC-SA" }}
	<p align="center"><a class="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="Attribution Non-Commercial-Share-Alike" src="https://licensebuttons.net/l/by-nc-sa/3.0/88x31.png"></img></a></p>
	{{ end }}
	{{ if eq .Site.Params.copyright "BY-NC-ND" }}
	<p align="center"><a class="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank"><img alt="Attribution Non-Commercial-No-Derivs" src="https://licensebuttons.net/l/by-nc-nd/3.0/88x31.png"></img></a></p>
	{{ end }}
{{ end }}