{{- if .Site.Params.siteStartYear -}}
<p>© {{ if eq now.Year .Site.Params.siteStartYear }}{{ now.Year }}{{ else }}{{ .Site.Params.siteStartYear }} - {{ now.Year }}{{ end }} {{ .Site.Title }}</p>
{{ else }}
<p>© {{ now.Year }} {{ .Site.Title }}</p>
{{ end }}    
{{- if .Site.Params.copyright -}}
	{{- partial "copyright.html" . -}}
{{- end }}