{{- if .Site.Social.github -}}
<div class="item">
	<a href="https://github.com/{{- .Site.Social.github -}}" target="_blank">
		<i id="ico" class="inverted big link github icon" title="GitHub"></i>
	</a>
</div>
{{ end }}
{{- if .Site.Social.gitlab -}}
<div class="item">
	<a href="https://gitlab.com/{{- .Site.Social.gitlab -}}" target="_blank">
		<i id="ico" class="inverted big link gitlab icon" title="GitLab"></i>
	</a>
</div>
{{ end }}
{{- if .Site.Social.email -}}
<div class="item">
	<a href="mailto:{{- .Site.Social.email -}}">
		<i id="ico" class="inverted big link mail icon" title="Email"></i>
	</a>
</div>
{{ end }}
{{- if .Site.Social.twitter -}}
<div class="item">
	<a href="https://twitter.com/{{- .Site.Social.twitter -}}" target="_blank">
		<i id="ico" class="inverted big link twitter icon" title="Twitter"></i>
	</a>
</div>
{{ end }}
{{- if .Site.Social.youtube -}}
<div class="item">
	<a href="https://youtube.com/channel/{{- .Site.Social.youtube -}}" target="_blank">
		<i id="ico" class="inverted big link youtube play icon" title="YouTube"></i>
	</a>
</div>
{{ end }}
{{- if .Site.Social.medium -}}
<div class="item">
	<a href="https://medium.com/@{{- .Site.Social.medium -}}" target="_blank">
		<i id="ico" class="inverted big link medium icon" title="Medium"></i>
	</a>
</div>
{{ end }}
{{- if .Site.Social.linkedin -}}
<div class="item">
	<a href="https://www.linkedin.com/in/{{- .Site.Social.linkedin -}}" target="_blank">
		<i id="ico" class="inverted big link linkedin icon" title="LinkedIn"></i>
	</a>
</div>
{{ end }}
{{- if .Site.Social.stackoverflow -}}
<div class="item">
	<a href="https://www.stackoverflow.com/users/{{- .Site.Social.stackoverflow -}}" target="_blank">
		<i id="ico" class="inverted big link stack overflow icon" title="Stack Overflow"></i>
	</a>
</div>
{{ end }}
{{- if .Site.Social.codepen -}}
<div class="item">
	<a href="https://codepen.io/{{- .Site.Social.codepen -}}" target="_blank">
		<i id="ico" class="inverted big link codepen icon" title="CodePen"></i>
	</a>
</div>
{{ end }}
{{- if .Site.Social.reddit -}}
<div class="item">
	<a href="https://reddit.com/user/{{- .Site.Social.reddit -}}" target="_blank">
		<i id="ico" class="inverted big link reddit icon" title="Reddit"></i>
	</a>
</div>
{{ end }}
