/*Fonts*/
@font-face {
  font-family: 'Abril Fatface';
     src: url('../fonts/AbrilFatface-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Bebas Neue';
     src: url('../fonts/BebasNeue Regular.otf') format('opentype'), url('../fonts/BebasNeue Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Serif Italic';
     src: url('../fonts/DroidSerif-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
     src: url('../fonts/Inconsolata.otf') format('opentype');
}
/*Computer view*/
@media screen and (min-width: 991px) {
  .blog-card {
    width: calc(50% - 1rem);
  }
}

@media screen and (max-width: 300px) {
  .title-content {
    top: 30px;
  }

  .intro {
    display: none;
  }

  .utility-list span {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 600px) {
  .post-content p img:not(.emoji), .post-content ul li img {
    max-width: 100% !important;
  }

  .youtube {
    width: 100% !important;
  }
}
/*Tablet view*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .blog-card {
    width: calc(50% - 1rem);
  }

  .pusher::-webkit-scrollbar {
    width: 2vw;
  }
}
/*Mobile view*/
@media screen and (max-width: 767px) {
  .blog-card {
    width: calc(100% - 2rem);
    margin-right: auto !important;
    margin-left: auto !important;

  }

  .pusher::-webkit-scrollbar {
    width: 5px !important;
  }

  .top.bar .item {
    margin: 0;
    padding-right: 0;
  }

  .top.bar::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 2vw;
  }

  .post-head {
    font-size: 2em;
  }

  .post-content img:not(.emoji) {
    max-width: 100%;
  }

  .post-head,.dream-tags,.copyright,.disqus {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .top.bar {
    overflow-x: auto;
  }

  .top.bar .item {
    margin: 0;
    padding-right: 0;
  }

  .top.bar::-webkit-scrollbar {
    display: none;
  }

  .post-content img:not(.emoji) {
    max-width: 100%;
  }
}
/*Site settings*/
body, body.pushable {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover !important;
}

.anchor {
  visibility: hidden;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor,
h7:hover .anchor,
h8:hover .anchor,
h9:hover .anchor {
  visibility: visible;
}

li:not('.toc') {
  line-height: 1.4285em;
}

.row.box {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.column-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.both.flexbox {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.none.flexbox {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.shrink.flexbox {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.grow.flexbox {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.post-list .cards {
  margin-right: -1rem;
  margin-left: -1rem;
  flex-wrap: wrap;
}

.glass {
  position: absolute;
  overflow: hidden;
}

.glass:before {
  content: "";
  position: absolute;
  background: inherit;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(10px);
}
/*Background*/
.blur-overlay {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: inherit;
  --webkit-filter: blur(var(--blurEff));
  filter: blur(var(--blurEff));
}

.pusher {
  background-color: transparent !important;
  -webkit-perspective: 100rem;
  -moz-perspective: 100rem;
  -o-perspective: 100rem;
  perspective: 100rem;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto !important;
}

.pusher.dimmed {
  overflow-y: hidden !important;
}

.pusher::-webkit-scrollbar {
  width: 0.8vw;
}

.pusher::-webkit-scrollbar-thumb {
  background: #aaa;
  background-color: rgba(255, 255, 255, 0.4);
}
.pusher::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.ui.inverted.segment {
  background-color: #1b1c1ded;
}

.ui.secondary.segment {
  background-color: #ececece8;
  padding: auto 1.5em 0 1.5em;
}

.ui.grid {
  margin-left: 0;
  margin-right: 0;
}

.ui.label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

ul > li {
  margin-bottom: 0.2rem;
}
/*About section*/
.about, .four-o-four {
  height: auto;
  overflow-y: hidden;
}

.about .twemoji {
  font-size: 1.1rem;
}

.four-o-four .twemoji {
  text-align: center;
}
/*Top nav bar*/
.top.bar {
  background-color: #00000066 !important;
  overflow-y: hidden;
  height: 7vh;
  overflow-x: auto;
}
/*Post settings*/
.post-title {
  color: black;
  font: bold 3rem 'Bebas Neue';
  margin-bottom: 1px;
}

.post-head .sub.header {
  letter-spacing: 0.05em;
  font: 1.4rem 'Bebas Neue';
}

.sub.header div {
  display: inline-block;
}

.sub.header div:not(:last-child) {
  margin-right: 1rem;
}

.sub.header span {
  white-space: nowrap;
}

.sub.header i:not(.comment) {
  margin-right: 0.1rem !important;
}

.toc {
  font-size: 1.1rem;
  line-height: 1rem;
  background-color: #ffffff70;
  border: 1px solid #8a8a8a6b;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow-x: auto;
}

.post-list {
  height: auto;
  width: auto;
  overflow: hidden;
}

.post-content {
  font-size: 1.1rem;
}

.post-content blockquote {
  background: #f9f9f9;
  border-left: 8px solid #ccc;
  padding: 0.4em 0.8em;
  margin: 0.5em 0 0.5em 0;
}

.post-content ul + blockquote {
  margin-left: 2.5em;
}

.post-content code {
  font-size: 0.8em;
  background-color: #c0c9c833;
  padding: 0 0.2em;
  border: 1px solid #929696;
  border-radius: 0.2em;
}

.post-content pre code {
  font-family: 'Inconsolata';
  font-size: 1.2em;
  background-color: unset;
  padding: initial;
  border: unset;
}

.post-content img:not(.emoji) {
  position: relative;
  max-width: 80%;
  display: block;
}

p > img:not(.emoji), li > img {
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
  margin: 1em auto 1em auto;
}

.emoji {
  height: 1.1em;
  width: 1.1em;
  vertical-align: -0.15em;
  background-color: transparent;
}

.youtube.container {
  position: relative;
  margin: auto auto 1em auto;
  width: 80%;
  padding-bottom: 45%;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
}

.youtube.container .youtube {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/*Syntax Highlighting*/
.post-content pre {
  background: #ffffff70;
  background-color: #ffffff70;
  border: 1px solid #8a8a8a6b;
  border-radius: 5px;
  overflow-x: auto;
}
.highlight {
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid #8a8a8a6b;
}

.highlight pre {
  background: initial;
  padding: initial;
  border: initial;
  border-radius: initial;
}

.highlight > div {
  height: auto;
  width: 100%;
  max-height: 30em;
  overflow-y: auto;
  padding: 0 2px 0 2px;
}

.chroma {
  padding: 0 0.2em 0 0.2em;
}

.highlight > div::-webkit-scrollbar {
  width: 8px;
}

.highlight table {
  overflow-y: hidden;
}
/*Share card*/
.share {
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.author .avatar {
  height: 5em;
  width: 5em;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 0 0.1em #fff, 0 0 0 0.4rem #eee;
}

.info {
  max-width: 60%;
  margin-left: 1em;
}

.share .name {
  margin-bottom: 1px;
  display: block;
  color: #3e3e3e;
  font: bold 1.2em 'Lato';
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.share .name:hover {
  text-decoration: underline;
}

.share .desc {
  display: block;
  color: #3e3e3e;
  font-size: 0.9em;
}

.spacer {
  min-width: 1em;
}

.share .buttons {
  margin: auto;
  margin-right: 0;
  flex-wrap: wrap;
}

.facebook {
  align-self: flex-start;
  width: 7.5em;
  margin-right: 0.1em;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.twitter {
  align-self: flex-end;
  margin-left: 0.1em;
  width: 7.5em;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.twitter:hover, .facebook:hover {
  opacity: 0.8;
}
/*Flip settings*/
.flip-it .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper {
  -webkit-transition: 0.8s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.8s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.8s;
  -o-transform-style: preserve-3d;
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
/*Page sections, front and back*/
.front, .back {
  min-height: 100vh;
  background: inherit;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  height: auto;
  width: 100vw;
  position: absolute;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding-bottom: 1em;
}
/*Sidebar*/
#sidebar {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  min-height: 100vh;
}

#sidebar #author {
  border-radius: 0;
  border-top: 0;
}

#sidebar #footer {
  border-radius: 0;
  border-bottom: 0;
}

#sidebar::-webkit-scrollbar {
  width: 4px;
}

#sidebar .content.active, #sidebar .content.animating {
  font-size: 14px;
  padding: 0.1em 0.1em 0 1.5em;
}

#sidebar .item {
  padding: 0.3em 0.3em 0.3em 2em;
  color: white;
}

#sidebar .item:before {
  background: transparent;
}

#sidebar .content a i {
  position: absolute;
  left: 0.3em;
  top: 25%;
}

#sidebar .link {
  color: #ffffffd6;
}

#sidebar .link:hover {
  color: white;
}

#author .sub.header {
  color: #fff;
}
/*Header*/
#header {
  padding: 0;
}

#header section, #header header, #header footer {
  background-color: transparent;
}

.dream-categories::-webkit-scrollbar {
  width: 4px;
}

#header .title.header-title, #header .active.title.header-title, #header .title.active.header-title {
  padding: 0;
}

#tag-category-pop {
  margin-right: -1px;
}

.hand.point.icon {
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  backface-visibility: visible;
}

.hand.point.icon.active {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

#tag-category, #tag-category.active {
  padding-top: 0;
}

#tag-category .accordion {
  margin-top: 0;
}

#tag-category .item i {
  position: absolute;
  left: 0;
}

#tag-category .content, #tag-category .content.active, #tag-category .content.animating {
  padding: 0.1em 0 0.1em 1.6em;
}

#tag-category .content a i {
  position: absolute;
  left: 0.3em;
  top: 20%;
}

#tag-category div a {
  color: white;
}

#tag-category div .link {
  color: #ffffffd6;
}

#tag-category div .link:hover {
  color: white;
}

#tag-category .item div {
  position: relative;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  transition: 0.5s;
}

#tag-category .item div:hover {
  background-color: rgba(255, 255, 255, 0.18);
}

#tag-category a p {
  padding-left: 2em;
}

#tag-category {
  padding-bottom: 0;
}

#tag-category.active {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

#tag-category .dream-tags {
  overflow: hidden;
  height: auto;
}

#tag-category .dream-categories {
  overflow-x: hidden;
  max-height: 9em;
}
/*Card settings*/
.blog-card {
  position: relative;
  margin-bottom: 1rem;
  margin-right: 0.5em;
  margin-left: 0.5em;
  float: none;
  color: #fff;
  transition: 0.4s;
  background: white;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 1);
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-card:hover {
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
}

.blog-card .image {
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.title-content {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  text-align: center;
  z-index: 2;
  width: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
 
.card.title-content {
  opacity: 0;
  bottom: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.blog-card:hover .card.title-content {
  opacity: 1;
  bottom: 0;
}

.blog-card:hover .title-content {
  bottom: 5rem;
}

.blog-card .title {
  color: #fff;
  font: 400 2rem 'Abril Fatface';
  letter-spacing: 1px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.blog-card .title:hover {
  text-shadow: 0 8px 20px rgba(0, 0, 0, 0.95);
}

.blog-card h3:after {
  content: " ";
  display: block;
  width: 10%;
  height: 0.2rem;
  margin: 0.5em auto;
  border: 0;
  z-index: 2;
  background: #BDA26B;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.blog-card:hover h3:after {
  animation: changeLetter 0.3s 1 linear;
  width: 80%;
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }

  100% {
    width: 80%;
  }
}

.intro {
  margin: auto;
  font: 200 1.2rem 'Droid Serif Italic';
  line-height: 1.2rem;
  width: 80%;
  color: #ddd;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

.blog-card:hover .intro {
  opacity: 1;
}

.utility-info {
  position: absolute;
  height: auto;
  padding-left: 1em;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: left;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.1) 21%);
}

.blog-card:hover .utility-info {
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.2) 21%);
}

.utility-info span {
  font-size: 1rem;
  white-space: nowrap;
}

.utility-list div:not(:last-child) {
  margin-right: 1em;
}

.utility-list div {
  display: inline-block;
}

.utility-list {
  list-style-type: none;
  padding: 0;
}

.color-overlay {
  position: absolute;
  background: rgba(0, 0, 0,0.4);
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  transition: background 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.card.color-overlay {
  background: rgba(0, 0, 0 ,0);
}

.blog-card:hover .color-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.table-container
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}
/* añadimos las barras para dispositivos IOS */

.table-container::-webkit-scrollbar
{
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}
.table-container::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}