{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "frontmenu" }}
{{ partial "nav.html" . }}
{{ end }} 
{{ define "main" }}
<div class="ui centered grid">
	<div class="sixteen wide mobile only column">	
			{{- partial "header.html" . -}}
	</div>
	<div class="sixteen wide mobile fifteen wide tablet twelve wide computer column post-list">
		<section class="ui secondary top attached black segment post-head">
			<h1 class="post-title">
				{{ .Title }}
			</h1>
			<div class="sub header">
					<div><span><i class="calendar outline icon"></i>{{ .Date.Format "Jan 2, 2006" }}</span></div>
					{{- if .Site.DisqusShortname -}}
					<div><span class="disqusComment"><i class="comment outline icon"></i><a href="{{ .Permalink }}#disqus_thread" class="disqus-comment-count" data-disqus-identifier="{{ .UniqueID }}"></a></span></div>{{- end }}
					<div><span><i class="clock outline icon"></i>{{ .ReadingTime }} min read</span></div>
					<div><span><i class="angle double up icon"></i>{{ i18n "updateAt" }} {{ dateFormat "Jan 2, 2006" .Lastmod }}</span></div>
			</div>
			<hr>
			{{- if .Site.Params.enableToc -}}
			{{- if .TableOfContents -}}
			<div class="toc">
				{{- .TableOfContents -}}
			</div>
			{{ end }}
			{{ end }}
			<article class="post-content twemoji">
				{{ partial "anchor.html" .Content }}
			</article>
		</section>
		<section class="ui secondary attached segment dream-tags">
			{{- if isset .Params "tags" -}}
				{{- partial "tags.html" . -}}				
			{{ else }}
			<span>{{ i18n "noTag" }}</span>
			{{ end }}
		</section>
		{{- if .Site.Params.enableShareCard -}}
		<section class="ui secondary {{ if not .Site.DisqusShortname }}bottom{{ end }} attached segment share row box">
			{{- partial "share.html" . -}}
		</section>
		<section class="ui secondary attached segment copyright">
			{{- partial "copyright.html" . -}}
		</section>
		{{ end }}
		{{- if .Site.DisqusShortname -}}
		<div class="ui secondary bottom attached stacked segment disqus">
			{{- partial "disqus.html" . -}}
		</div>
		{{ end }}
	</div>
</div>
{{ end }}